<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Manage User</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/createUser">Add User</a>
                        </li>
                        <li>
                            <a href="manageUsers">Manage User</a>
                        </li>

                    </ul>
                </li>

            </ul>
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Manage Students</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/createStudent">Add Student</a>
                        </li>
                        <li>
                            <a href="manageStudents">Manage Student</a>
                        </li>

                    </ul>
                </li>

            </ul>
            
        </nav>
    </div>
</aside>